@import '../../GlobalStyles/GlobalFonts.css';

.bannerContainer{
    position : relative;
    box-sizing: border-box;
}


.bannerHeading{
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    text-align: center;
    color : #fff;
    position: absolute;
    top : 18%;
    left: 30%;
    font-family: "DM Sans", sans-serif;
    text-align: center;
}

.spanHeading{
    background: linear-gradient(93.33deg, #9ed7fb 47.25%, #ffffff 102.76%), linear-gradient(0deg, #ffffff, #ffffff);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.buttonFlex{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 58%;
    width: 100%;
    box-sizing: border-box;
    padding : 0 12%;
}

.buttons{
    font-weight: 600;
    font-size: 19px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
